:root {
    --primary-color: #355C7D;
    --secondary-color: #C8C8A9; 
    --tertiary-color: white;
    --hover-color: #F67280;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.sections {
    background: var(--tertiary-color);
}

h2 {
    font-size: 35px;
}
/* HEADER & NAV STYLES START */
header {
    padding: 20px 35px 20px 0;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;

}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    font-size: 30px;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 10px 10px 50px;
    justify-content: flex-start;
    border-radius: 0 15px 15px 0;
}

header h1:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
    border-radius: 0 15px 15px 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(1, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* END HEADER SECTION */

/* START FOOTER STYLES */
footer {
    padding: 20px 35px 20px 0;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    color: var(--primary-color);
}

footer h2 {
    padding-left: 5px;
}
/* END FOOTER STYLES */


/* HERO STYLES START */
.hero {
    background-image: url('../images/texture.jpeg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 100%;
    padding: 200px 20px 20px 30px;
    z-index: 9998;
  }

.hero-cta {
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(1, 0, 0, 0.1);
    flex-wrap: nowrap;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
}

/* END HERO STYLES */

/* START ABOUT ME SECTION */
.block-1 {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px 100px 15px 100px;
    justify-content: center;
    width: 90%;
}

.block-1 .section-title-box {
    display: flex;
    flex: 1 200px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 10px 0 0;
    width: 10%;
    text-align: right;
}

.block-1 .section-content {
   
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90%;
}


/* START WORK SECTION */
.block-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px 100px 15px 100px;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.block-2 .section-title-box {
    display: flex;
    flex: 1 200px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 10px 0 0;
    width: 10%;
   
    
}

.block-2 .section-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90%;
}

.example-1 {
    background-image: url('../images/image1.jpeg');
    background-position: center;
    width: 950px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;

}

.example-1:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);

}

.example-2 {
    background-image: url('../images/image2.jpeg');
    object-fit: contain;
  
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}

.example-2:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-3 {
    background-image: url('../images/image3.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}

.example-3:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-4 {
    background-image: url('../images/image4.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}

.example-4:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-5 {
    background-image: url('../images/image5.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}

.example-5:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.description {
    background-color: var(--secondary-color);
    width: 40%;
    text-align: left;
    border: 3px solid var(--secondary-color);
    text-align: center;
    margin-bottom: 15px;
    align-items: flex-start;
}

.description h3 {
    color: var(--primary-color);
    font-weight: bolder;
}

.description h4 {
    color: var(--primary-color);
    font-weight: lighter;
}


/* START CONTACT ME SECTION */
.block-3 {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px 100px 15px 100px;
    justify-content: center;
    width: 90%;
}

.block-3 .section-title-box {
    display: flex;
    flex: 1 200px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 10px 0 0;
    width: 10%;
    text-align: right;
}

.block-3 .section-content {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90%;
}

.block-3 .section-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 95%;
}

.block-3 .section-content ul li {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta {
        width: 100%;
        text-align: center;
    }

    .section-title {
        width: 80%;
    }



}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {

    header h1 {
        justify-content: center;
        padding: 5px;
        border-radius: 15px;
    }

    .hero {
        justify-content: center;

    }
    .hero-cta {
        justify-content: center;
        padding: 5px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero {
        width: 100%;
        flex: 1;
    }

    .hero-cta {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: block;
        padding: 0px;
        flex: 0 100%;
        padding: 0 100% 0 100%;
    }

    header h1 {
        justify-content: center;
        padding: 5px;
        border-radius: 15px;
    }

    .block .section-content {
        padding: 0;
        margin: 0;
        border-left: 0px;
        align-items: center;
        justify-content: center;
        flex: 0 100%;
    }

    #about-me {
        flex-direction: column;
        align-items: center;
    }

    #about-me .section-content p {
        border: 0;
    }

    #contact-me {
        flex-direction: column;
        align-items: center;
    }

    #work {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    
    .sections {
        width: 95%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        flex: 1;
    }

    .section-title {
        width: 95%;
        flex: 0 100%;
    }

    .section-content p {
        width: 100%;
        border-left: none;
    }
}
