:root {
    --primary-color: #355C7D;
    --secondary-color: #C8C8A9; 
    --tertiary-color: white;
    --hover-color: #F67280;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif
}

.sections {
    background: var(--tertiary-color);
    justify-content: center;
    width: 100vw;
}

h2 {
    font-size: 35px;
}
/* HEADER & NAV STYLES START */
header {
    padding: 20px 35px 20px 0;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;

}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    font-size: 30px;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 10px 10px 50px;
    justify-content: flex-start;
    border-radius: 0 15px 15px 0;
}

header h1:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
    border-radius: 0 15px 15px 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(1, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* END HEADER SECTION */

/* START FOOTER STYLES */
footer {
    padding: 20px 35px 20px 0;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    color: var(--primary-color);
}

footer h2 {
    padding-left: 5px;
}
/* END FOOTER STYLES */


/* HERO STYLES START */
.hero {
    background-image: url('../images/texture.jpeg');
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9998;
  }

.hero-cta {
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(1, 0, 0, 0.1);
    flex-wrap: nowrap;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    margin: 0 15px 15px 0;
}

/* END HERO STYLES */

/* START SECTION CONTENT */
.block {
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px 100px 15px 100px;
    justify-content: center;
    width: 90%;
}

.block .section-title-box {
    display: flex;
    flex: 1 200px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 10px 0 0;
    width: 1;
    text-align: right;
}

/* START ABOUT ME SECTION */
#about-me .section-content {
   
    display: flex;
    flex-flow: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90vw;
}
#about-me .section-content img {
    height: 200px;
    margin: 0 15px 0 15px;
    border: 3px solid var(--secondary-color);
}



/* START WORK SECTION */
#work .section-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90vw;
}

.example-1 {
    background-image: url('../images/image1.jpeg');
    background-position: center;
    width: 67vw;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;

}

.example-1:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);

}

.example-2 {
    background-image: url('../images/image2.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-2:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-3 {
    background-image: url('../images/image3.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-3:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-4 {
    background-image: url('../images/image4.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-4:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.example-5 {
    background-image: url('../images/image5.jpeg');
    width: 470px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-5:hover {
    border: 3px solid var(--hover-color);
    filter: brightness(150%);
}

.description {
    background-color: var(--secondary-color);
    width: 40%;
    text-align: left;
    border: 3px solid var(--secondary-color);
    text-align: center;
    margin-bottom: 15px;
    align-items: flex-start;
}

.description h3 {
    color: var(--primary-color);
    font-weight: bolder;
}

.description h4 {
    color: var(--primary-color);
    font-weight: lighter;
}


/* START CONTACT ME SECTION */
#contact-me .section-content {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-left: 2px solid black;
    margin: 0 25px 0 20px;
    padding: 0 20px 0 20px;
    width: 90vw;
}

#contact-me .section-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 95%;
}

#contact-me .section-content ul li {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
     
    }
    
    header h1 {
        justify-content: center;
        padding: 5px;
        margin: 0;
        border-radius: 15px;
    }

    .hero {
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .hero-cta {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: block;
        padding: 0px;
        margin: 0%;
        flex: 0 100%;
        border-radius: 0%;
    }
    .hero-cta h2 {
        text-align: center;
    }
    
    #about-me {
        justify-content: center;
        margin: 15px;
        padding: none;
        flex-direction: column;
      
    }

    #about-me .section-title-box {
        padding: 0;
        margin: none;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        
    }

    #about-me .section-content {
        padding: 0;
        margin: 0;
        border: none;
        align-items: center;
        justify-content: center;
        flex: 0 100%;
    }

    #about-me .section-content img {
        margin: none;
    }

    #work {
        justify-content: center;
        margin: 5% 5% 5% 5%;
        padding: none;
        flex-direction: column;
    }

    #work .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #work .section-content {
        border: none;
    }

 
    #contact-me {
        justify-content: center;
        margin: 0 5% 0 5%;
        flex-direction: column;
    }

    #contact-me .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #contact-me .section-content {
        padding: 0;
        margin: 0;
        border-left: 0px;
        align-items: flex-start;
        justify-content: center;
        width:  100%;
        flex-wrap: nowrap;
    }

    #contact-me .section-content ul {
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    #contact-me .section-content ul li {
        padding: 10%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {

    header {
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
     
    }
    
    header h1 {
        justify-content: center;
        padding: 5px;
        margin: 0;
        border-radius: 15px;
    }
    
    footer {
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
        max-width: 100vw;
        flex-direction: column;
    }
    footer h2 {
        font-size: 20px;
    }

    .hero {
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .hero-cta {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: block;
        padding: 0px;
        margin: 0%;
        flex: 0 100%;
        border-radius: 0%;
    }
    
    #about-me {
        justify-content: center;
        margin: 15px;
        padding: none;
        flex-direction: column;
        width: 100vw;
      
    }

    #about-me .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 90%;
        
    }

    #about-me .section-content {
        padding: 0;
        margin: 0;
        border: none;
        align-items: center;
        justify-content: center;
        flex: 0 100%;
        width: 90%;
    }

    #work {
        justify-content: center;
        margin: 5% 5% 5% 5%;
        padding: none;
        flex-direction: column;
    }

    #work .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #work .section-content {
        border: none;
    }

    #examples {
        width: 100vw;
    }

    #contact-me {
        justify-content: center;
        margin: 0 5% 0 5%;
        flex-direction: column;
    }

    #contact-me .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #contact-me .section-content {
        padding: 0;
        margin: 0;
        border-left: 0px;
        align-items: flex-start;
        justify-content: center;
        max-width: 768px;
        flex-wrap: nowrap;
    }

    #contact-me .section-content ul {
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    #contact-me .section-content ul li {
        padding: 10%;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header {
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
     
    }
    
    header h1 {
        justify-content: center;
        padding: 5px;
        margin: 0;
        border-radius: 15px;
    }

    .hero {
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .hero-cta {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: block;
        padding: 0px;
        margin: 0%;
        flex: 0 100%;
        border-radius: 0%;
    }
    
    #about-me {
        justify-content: center;
        margin: 15px;
        padding: none;
        flex-direction: column;
      
    }

    #about-me .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        
    }

    #about-me .section-content {
        padding: 0;
        margin: 0;
        border: none;
        align-items: center;
        justify-content: center;
        flex: 0 100%;
        flex-direction: column;
    }

    #about-me .section-content img {
        height: 400px;
        padding: none;
        margin: none;
    }

    #work {
        justify-content: center;
        margin: 5% 5% 5% 5%;
        padding: none;
        flex-direction: column;
    }

    #work .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #work .section-content {
        border: none;
    }

    #examples {
        width: 100vw;
    }

    #contact-me {
        justify-content: center;
        margin: 0 5% 0 5%;
        flex-direction: column;
    }

    #contact-me .section-title-box {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #contact-me .section-content {
        padding: 0;
        margin: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    #contact-me .section-content ul {
        list-style: square;
        justify-content: center;
        align-items: center;
    }

    #contact-me .section-content ul li {
        padding: 10%;
    }

}
